/* -------------------------- LINKS -------------------------- */
a { color: #000; }
a:hover { color: #5c6a51; }



/* -------------------------- LOGO -------------------------- */
.D-Day-Logo { width: 90px; } 



/* -------------------------- HOME PAGE IMAGE -------------------------- */
.hp-img { max-width: 100%; }




/* -------------------------- PARAGRAPHS-------------------------- */
h2, h4, p { 
    color: #5c6a51;
    text-align: center;
} 


h2 { margin-top: 30px; }
